<% title("Oops! Something Went Wrong!") %>

<p>
  We're sorry, but something has gone wrong here at the Book Connection. A message has been
  sent to the development team, and they'll get to work on it right away.
</p>
<p>
  If you want to help out in the process, just <%= link_to('send us a message', contact_path) %>
  and let us know what you were trying to do. Hopefully we'll have a chance to fix your problem
  in a jiffy.
</p>