<% title('About Us') %>

<h3>About <abbr title="Computer Science eXperience">CSX</abbr></h3>
<p>
  <abbr title="Computer Science eXperience">CSX</abbr> &#8212; short for Computer Science eXperience
  &#8212; is a student organization composed of computer science students interested in gaining
  practical, hands-on skills outside of the classroom. We provide useful services to the Calvin
  community and are always in the process of creating new and exciting things.
</p>
<p>
  In the spring of '08, <abbr title="Computer Science eXperience">CSX</abbr> and
  <%= link_to('Abstraction', 'http://clubs.calvin.edu/abstract/') %> &#8212; the two computer
  science groups on campus &#8212; merged in order to better serve the Calvin community.
</p>

<h3>About the Book Connection</h3>
<p>
  The Calvin Book Connection was originally created by a group of computer science students here at
  Calvin. Ben Mouw, Tony Karston, Scott Hirdes, and Justin DeVries built the system as a project for
  their Software Engineering (CS-262) class.
</p>
<p>
  At the beginning of the '03-'04 school year, Ben Mouw, Andy Schamp and Dave Brondsema helped
  transfer the project to the <abbr title="Computer Science eXperience">CSX</abbr> server. Then in
  the '07-'08 school year, Ryan Holt rewrote the system from the ground up so that it could continue
  to be a useful tool for Calvin students.
</p>