<% title('Welcome Back!') %>

<p>
  In case you haven't noticed, the Book Connection is sporting a fancy new look. That's because we
  here at <abbr title="Computer Science eXperience">CSX</abbr> have been hard at work rebuilding the
  Book Connection from the ground up. We're hoping that all our hard work will make the Book
  Connection easier for you to use, and easier for us to extend with new and exciting features!
</p>
<p>
  So look around, exchange some books, and <%= link_to('let us know', contact_path) %> what you think!
</p>
