<% title("Privacy Policy") %>

<h3>We Will Only Gather Necessary Information</h3>
<p>
  To operate the book buying and selling process, the Book Connection needs to collect some
  information on the people that use it. To use the Book Connection, we require only that you
  provide your name, Calvin ID, and optionally your phone number. Your name is needed to identify
  you, and your phone number and Calvin ID are needed so the Book Connection and other users can
  contact you. The Book Connection does not require you to give extensive personal information; only
  information that is deemed absolutely necessary will be requested.
</p>

<h3>We Will Keep Your Information in a Safe Place</h3>
<p>
  All the information that is submitted by users is transfered (currently unencrypted) directly to
  the database where it is stored for use by the system. Your password is encrypted before it is
  stored in the database so no one can retrieve it. This database is located on the CSX server which
  is currently running Ubuntu Linux. Only the Abstraction administrators have access to Book
  Connection's database on the CSX server and only people associated with Abstraction have access to
  this server at all. Your personal information will be safe and secure on this server.
</p>

<h3>We Won't Distribute Your Personal Information</h3>
<p>
  Your personal information will <strong>only</strong> be given out to other people who have
  legitimate accounts with the Book Connection and it will be given out only as needed. If you buy
  a book, your information will be sent to the seller of that book. If you post a book up for sale
  your information will be given to the person that buys your book. This is so that the other person
  can contact you to complete the transaction. Otherwise your information will not be given out for
  any reason. Your information will <strong>never</strong> be sold to any third parties.
</p>
