/* -----| Body & Main |----------------------------------------------------- */
body {
  padding: 30px 0;
  background: #000 url('../images/body-bg.gif') repeat-x top left;
  text-align: center;
}

div#wrapper {
  margin: 0 auto;
  width: 700px;
  text-align: left;
}

/* -----| Logo & Navigation |--------------------------------------------- */
div#navigation {
  height: 70px;
  position: relative;
  background: transparent url('../images/navigation-bg.png') repeat-x bottom left;
}

div#navigation h1 {
  font-size: 310%;
  position: absolute;
  left: 0;
  bottom: 5px;
}

div#navigation h1 a {
  color: #fff;
  text-decoration: none;
}

div#navigation h1 a img {
  padding-right: 5px;
  vertical-align: bottom;
}

div#navigation ul {
  position: absolute;
  right: 0;
  bottom: 0;
}

div#navigation ul li {
  float: left;
}

div#navigation ul li a {
  margin-right: 10px;
  padding: 10px 15px;
  background-color: #7f0115;
  color: #fff;
  font-size: 131%;
  text-decoration: none;
  display: block;
  
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}

div#navigation ul li.active a {
  background-color: #bb021f;
}

/* -----| Header |---------------------------------------------------------- */
div#header {
  height: 50px;
  background-color: #bb021f;
  position: relative;
}

div#header h2 {
  color: #fff;
  font-size: 197%;
  position: absolute;
  left: 20px;
  bottom: 8px;
}

div#header div#account {
  color: #fff;
  position: absolute;
  right: 20px;
  bottom: 15px;
}

div#header div#account a {
  color: #fff;
}

/* -----| Body |------------------------------------------------------------ */
div#body-wrapper {
  padding-top: 20px;
  background-color: #fff;
}

div#body {
  margin: 0 20px;
}

div#body h3 {
  margin-bottom: 20px;
  font-size: 161.6%;
}

div#body p {
  margin-bottom: 20px;
  line-height: 150%;
}

div#body h4 {
  margin-bottom: 5px;
  color: #444;
}

div#body a {
  text-decoration: none;
}

/* -----| Grey Box |-------------------------------------------------------- */
div.box-wrapper {
  margin-bottom: 20px;
  padding: 10px 0;
  background-color: #ececec;
  border: 1px solid #ddd;
  
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}

div.box-wrapper div {
  margin: 0 10px;
}

/* -----| Book Box |-------------------------------------------------------- */
div.book-odd,
div.book-even {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

div.book-odd {
  background-color: #ececec;
}

div.book-odd img,
div.book-even img {
  margin-left: 10px;
  float: left;
}

div.book-odd div.info,
div.book-even div.info {
  margin-left: 15px;
  width: 390px;
  float: left;
}

div.book-odd div.info h3,
div.book-even div.info h3 {
  margin-bottom: 10px !important;
}

div.book-odd div.info table,
div.book-even div.info table {
  width: 390px;
}

div.book-odd div.info table tr th,
div.book-odd div.info table tr td,
div.book-even div.info table tr th,
div.book-even div.info table tr td {
  padding: 2px 2px 4px 2px;
}

div.book-odd div.info table tr th,
div.book-even div.info table tr th {
  width: 60px;
  color: #444;
}

div.book-odd div.links,
div.book-even div.links {
  margin-left: 15px;
  width: 170px;
  float: left;
}

div.book-odd div.links ul li,
div.book-even div.links ul li {
  padding: 10px 10px 10px 25px;
  border-bottom: 1px solid #ccc;
}

div.book-odd div.links ul li.edit,
div.book-even div.links ul li.edit {
  background: transparent url('../images/edit.png') no-repeat scroll 5px 50%;
}

div.book-odd div.links ul li.relist,
div.book-even div.links ul li.relist {
  background: transparent url('../images/edit.png') no-repeat scroll 5px 50%;
}

div.book-odd div.links ul li.remove,
div.book-even div.links ul li.remove {
  background: transparent url('../images/remove.png') no-repeat scroll 5px 50%;
}

div.book-odd div.links ul li.select,
div.book-even div.links ul li.select {
  background: transparent url('../images/select.png') no-repeat scroll 5px 50%;
}

/* -----| Tables |---------------------------------------------------------- */
table {
  margin-bottom: 20px;
  width: 660px;
  border-collapse: collapse;
}

table tr th,
table tr td {
  padding: 8px;
}

table.striped thead tr th {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

table.striped tbody tr th,
table.striped tfoot tr th {
  padding-top: 12px;
  width: 100px;
  font-weight: bold;
  text-align: right;
  vertical-align: top;
}

table.striped tr td.buy {
  padding-left: 25px;
  background: transparent url('../images/buy.png') no-repeat 5px 50%;
}

table.striped tr th span {
  color: #555;
  font-size: 0.8em;
  font-weight: normal;
  display: block;
}

table.striped tr th em,
table.striped tr td em {
  color: #555;
}

table.striped tr.odd th,
table.striped tr.odd td {
  background-color: #ececec;
  border-bottom: 1px solid #ddd;
}

table.striped tr.even th,
table.striped tr.even td {
  border-bottom: 1px solid #ddd;
}

table.striped tr.first th,
table.striped tr.first td {
  background-color: #ffff80;
  border-bottom: 1px solid #fc3;
}

table.striped tr.last th,
table.striped tr.last td {
  border-bottom: 1px solid #fc3;
}

table.striped tfoot tr th,
table.striped tfoot tr td {
  border-top: 1px solid #fc3;
  background-color: #ffff80;
  border-bottom: none;
}

/* -----| Rails Form Errors |------------------------------------- */
div#errorExplanation {
  margin-bottom: 10px;
  padding: 5px 5px 5px 25px;
  background: #ffff80 url('../images/warning.png') no-repeat 5px 50%;
  border: 1px solid #fc3;
}

div.fieldWithErrors {
  display: inline;
}

div.formError {
  margin-top: 5px;
  padding-left: 28px;
  background: transparent url('../images/warning.png') no-repeat 5px 50%;
  vertical-align: top;
}

/* -----| Pretty Form Controls |---------------------------------- */
input.text, input.password, textarea, select {
  border-top: 1px solid #7c7c7c;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #c3c3c3;
}

input.text, input.password, textarea {
  padding: 2px;
}

/* -----| Flash |----------------------------------------------------------- */
div.flash-warning,
div.flash-notice {
  padding: 10px 0;
  text-align: center;
}

div.flash-warning {
  background-color: #ffff80;
  border-bottom: 1px solid #fc3;
}

div.flash-notice {
  background: #B3FFBC;
  border-bottom: 1px solid #618B68;
}

div.flash-warning > div,
div.flash-notice > div {
  margin: 0 10px;
}

/* -----| Footer |---------------------------------------------------------- */
div#footer {
  padding: 10px 0;
  background-color: #444;
  color: #fff;
  font-size: 93%;
  text-align: center;
  
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}

div#footer div {
  margin: 0 20px;
}

div#footer div a {
  color: #fff;
  text-decoration: none;
}

/* -----| Pagination |-------------------------------------------- */
div.pagination {
  margin: 20px;
  text-align: center;
}

div.pagination a,
div.pagination span {
  margin-right: 5px;
  padding: 2px 6px;
  background: #ececec;
  border: 1px solid #ccc;
  text-decoration: none;
}

div.pagination span.current {
  background: #ffff80;
  border: 1px solid #fc3;
}

/* -----| Misc |------------------------------------------------------------ */
div#password-notice {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

div#password-notice div {
  margin: 0 10px;
}

p#valid_isbn {
  padding-left: 5px;
  color: green;
  display: inline;
}

a.new-book {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffff80;
  border: 1px solid #fc3;
  text-align: center;
  display: block;
}