/*------| Body |-------------------------------------------------- */
body {
  margin: 0;
  padding: 0;
  background: #fff url('../images/body_bg.png') repeat-x top left;
  text-align: center;
}

div#main {
  margin: 0 auto;
  width: 750px;
  text-align: left;
}

/* -----| Header |------------------------------------------------ */
div#header {
  height: 65px;
  position: relative;
}

div#header h1 {
  color: #fff;
  font-size: 256%;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 0;
}

div#header h1 a {
  color: #fff;
  text-decoration: none;
}

/* -----| Account Menu |------------------------------------------ */
div#account-menu {
  color: #999;
  position: absolute;
  bottom: 20px;
  right: 0;
}

div#account-menu a {
  color: #999;
}

div#account-menu a.focus {
  color: #fff;
}

/* -----| Navigation |-------------------------------------------- */
div#navigation {
  height: 51px;
  position: relative;
}

div#navigation ul {
  position: absolute;
  bottom: 8px;
  left: 0;
}

div#navigation ul li {
  margin-right: 7px;
  padding: 10px 20px 7px;
  background-color: #7F0115;
  font-size: 146.5%;
  display: inline;
}

div#navigation ul li a {
  color: #F44F4B;
  text-decoration: none;
}

div#navigation ul li.active {
  background-color: #fff;
  border-bottom: 2px solid #fff;
}

div#navigation ul li.active a {
  color: #7F0115;
}

/* -----| Main Content DIV |-------------------------------------- */
div#content-wrapper {
  padding: 10px 0;
  background-color: #fff;
}

div.content {
  margin: 0 10px;
}

div.content h2 {
  margin-bottom: 10px;
  padding-bottom: 3px;
  border-bottom: 2px solid #7F0115;
  font-size: 153.9%;
}

div.content h3 {
  margin-bottom: 5px;
  font-size: 116%;
}

div.content p {
  line-height: 150%;
  margin-bottom: 10px;
}

div.content div.course,
div.content div.author {
  margin-bottom: 5px;
}

div.content a {
  text-decoration: none;
}

/* -----| Post/Book Partial |------------------------------------- */
div.post,
div.book {
  margin-bottom: 10px;
}

div.post div.header,
div.book div.header {
  margin-bottom: 10px;
  border-bottom: 2px solid #7F0115;
}
div.post div.header h2,
div.book div.header h2 {
  margin-bottom: 0;
  border-bottom: none;
  float: left;
}

div.post div.header div.price,
div.book div.header div.availability {
  font-size: 138.5%;
  float: right;
}

div.post table.striped,
div.book table.striped {
  width: 520px;
  float: left;
}

div.book table.full-width {
  width: 700px;
}

div.post ul,
div.book ul {
  margin-right: 15px;
  width: 160px;
  float: right;
}

div.post ul li,
div.book ul li {
  padding: 10px 10px 10px 25px;
  border-bottom: 1px solid #ddd;
}

div.post ul li.edit {
  background: #fff url('../images/edit.png') no-repeat 5px 50%;
}

div.post ul li.relist {
  background: #fff url('../images/edit.png') no-repeat 5px 50%;
  border-bottom: none;
}

div.post ul li.remove {
  background: #ececec url('../images/remove.png') no-repeat 5px 50%;
}

div.book ul li.select {
  background: #fff url('../images/select.png') no-repeat 5px 50%;
  border-bottom: none;
}

div.post span.for_sale {
  color: green;
}

div.post span.unavailable {
  color: blue;
}

div.post span.sold {
  color: red;
}

/* -----| Footer |------------------------------------------------ */
div#footer {
  margin-top: 10px;
  background-color: #313131;
  color: #fff;
  clear: both;
}

div#footer p {
  padding: 10px;
  float: left;
}

div#logo {
  padding: 10px;
  float: right;
}

div#footer a {
  padding: 0 5px;
  color: #999;
}

/* -----| Flash |------------------------------------------------- */
div.flash-notice,
div.flash-warning {
  margin-bottom: 10px;
  padding: 5px 5px 5px 25px;
}

p.flash-notice {
  padding-left: 25px;
  background: transparent url('../images/tick.png') no-repeat 5px 50%;
  color: #618B68;
  display: inline;
}

div.flash-notice {
  background: #B3FFBC url('../images/tick.png') no-repeat 5px 50%;
  border: 1px solid #618B68;
}

div.flash-warning {
  background: #FFFF80 url('../images/warning.png') no-repeat 5px 50%;
  border: 1px solid #FC3;
}

/* -----| Rails Form Errors |------------------------------------- */
div#errorExplanation {
  margin-bottom: 10px;
  padding: 5px 5px 5px 25px;
  background: #ffff80 url('../images/warning.png') no-repeat 5px 50%;
  border: 1px solid #fc3;
}

div.fieldWithErrors {
  display: inline;
}

div.formError {
  padding-left: 25px;
  background: transparent url('../images/warning.png') no-repeat 5px 50%;
  vertical-align: top;
  display: inline;
}

/* -----| Pretty Form Controls |---------------------------------- */
input.text, input.password, textarea, select {
  border-top: 1px solid #7c7c7c;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #c3c3c3;
}

input.text, input.password, textarea {
  padding: 2px;
}

/* -----| Other Form Nonsense |----------------------------------- */
div#passwords-match {
  padding-left: 25px;
  background: transparent url('../images/tick.png') no-repeat 5px 50%;
  color: #618B68;
  display: inline;
}

/* -----| Simple Striped Table |---------------------------------- */
table.striped {
  margin: 0 15px 10px 15px;
  padding: 0;
  width: 700px;
  border-collapse: collapse;
}

table.striped tr th,
table.striped tr td {
  margin: 0;
  padding: 8px;
}

table.striped tr th {
  padding-top: 12px;
  width: 100px;
  font-weight: bold;
  text-align: right;
  vertical-align: top;
}

table.striped thead tr th {
  padding-top: 0;
  width: auto;
}

table.striped thead tr th.left,
table.striped tr td.left {
  text-align: left;
}

table.striped thead tr th.center,
table.striped tr td.center {
  text-align: center;
}

table.striped tr td.buy {
  padding-left: 25px;
  background: transparent url('../images/buy.png') no-repeat 5px 50%;
}

table.striped tr th em {
  color: #555;
}

table.striped tr th span {
  color: #555;
  font-size: 0.8em;
  font-weight: normal;
  display: block;
}

table.striped tr td em {
  margin-left: 5px;
  color: #333;
}

table.striped tr.odd th,
table.striped tr.odd td {
  border-bottom: 1px solid #ddd;
}

table.striped tr.even th,
table.striped tr.even td {
  background-color: #ececec;
  border-bottom: 1px solid #ddd;
}

table.striped tr.first th,
table.striped tr.first td {
  background-color: #ffff80;
  border-bottom: 1px solid #fc3;
}

table.striped tr.last th,
table.striped tr.last td {
  border-bottom: 1px solid #fc3;
}

table.striped tr.actions th,
table.striped tr.actions td {
  border-top: 1px solid #fc3;
  background-color: #ffff80;
  border-bottom: none;
}