/* -----| Navigation |-------------------------------------------- */
div#navigation ul {
  bottom: 1px;
}

div#navigation ul li {
  padding: 0 20px;
}

div#navigation ul li span {
  padding: 9px 0 6px 0;
  display: inline-block;
}

div#navigation ul li.active {
  border-top: 1px solid #fff;
  border-bottom: 2px solid #fff;
  position: relative;
  z-index: 20;
}