<% title('Search for Books') %>

<div class="box-wrapper">
  <div>
    <% form_tag({ :action => 'search' }, { :method => 'get' }) do %>
      <table style="margin-bottom: 0px; width: 638px;">
        <tbody>
          <tr>
            <td style="text-align: center;">
              <%= text_field_tag(:query, params[:query], { :style => 'margin-right: 5px; width: 500px;' }) %>
              <%= submit_tag('Search') %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<% if @books %>
  <div style="margin-bottom: 20px;">
    <%= render(:partial => 'book', :collection => @books) %>
  </div>
  
  <%= will_paginate(@books) if @books.instance_of?(WillPaginate::Collection) %>
<% end %>

<script type="text/javascript">
//<![CDATA[
  Event.observe(window, 'load', function() {
    setup_search_prompt();
    $('query').observe('focus', function(event) { toggle_search_prompt(); });
    $('query').observe('blur',  function(event) { toggle_search_prompt(); });
  });
//]]>
</script>