<% title('Search for Books') %>

<div class="box-wrapper">
  <div>
    <% form_tag({:action => 'search'}, {:method => 'get'}) do %>
      <table style="margin-bottom: 0px; width: 638px;">
        <tbody>
          <tr>
            <td>
              <%= text_field_tag(:query, params[:query], {:style => 'width: 470px;'}) %>
              <%= submit_tag('Search') %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<% if @books %>
  <div style="margin-bottom: 20px;">
    <%= render(:partial => 'book', :collection => @books) %>
  </div>
  
  <%= will_paginate(@books) if @books.instance_of(WillPaginate::Collection) %>
<% end %>