<% unless book.posts_for_sale_count.zero? %>
  <div style="margin-top: 10px;">
    <%= pluralize(book.posts_for_sale_count, 'copy') %> of this book for sale.<br />
    <table style="margin: 5px 0 0 0; width: auto;">
      <tbody>
        <tr>
          <th style="padding: 3px 10px 3px 3px; width: auto; border-bottom: none; text-align: left;">Lowest price</th>
          <td style="padding: 3px; border-bottom: none;"><%= book.lowest_price %></td>
        </tr>
        <tr>
          <th style="padding: 3px 10px 3px 3px; width: auto; border-bottom: none; text-align: left;">Average price</th>
          <td style="padding: 3px; border-bottom: none;"><%= book.average_price %></td>
        </tr>
        <% if average_sold_price = book.average_sold_price %>
          <tr>
            <th style="padding: 3px 10px 3px 3px; width: auto; border-bottom: none; text-align: left;">Average "sold for" price</th>
            <td style="padding: 3px; border-bottom: none;"><%= average_sold_price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>