<% content_for(:header) do %>
  <h2>Your Posted Books</h2>
<% end %>

<% if @posts.empty? %>
  <div style="margin-bottom: 20px; padding: 10px 0; background-color: #ffff80; border: 1px solid #fc3;">
    <div style="margin: 0 10px;">
      It looks like you don't have any books listed right now. Why not contribute to the Calvin
      community and <%= link_to('sell one', new_post_path) %>?
    </div>
  </div>
<% else %>
  <div style="margin-bottom: 20px;">
    <%= render(:partial => 'post', :collection => @posts) %>
  </div>
<% end %>