<% content_for(:header) do %>
  <h2>Confirmed Purchase</h2>
<% end %>

<p>
  You've just bought <%= h(@post.user) %>'s copy of "<%= h(@post.book.try(:title_with_formatting)) %>".
  We just sent you an email with <%= h(@post.user.first_name) %>'s contact info, as well as details
  about what to do next.
</p>
